- content_for :header_tags do
  = javascript_include_tag :projects_tree_view, plugin: :projects_tree_view
  = stylesheet_link_tag    :projects_tree_view, plugin: :projects_tree_view
  = auto_discovery_link_tag(:atom, { action: "index", format: "atom", key: User.current.rss_key })

%div.contextual
  = link_to(l(:label_project_new), new_project_url,    class: "icon icon-add"      ) if User.current.allowed_to?(:add_project,    nil, global: true)
  = link_to(l(:label_settings),    admin_projects_url, class: "icon icon-settings" ) if User.current.allowed_to?(:admin_projects, nil, global: true)
%h2
  = l(:label_project_plural)

%p
  = link_to(l(:expand_all), "#", :onclick => "expandAll()", class: "expand")
  %span #{ " | " }
  = link_to(l(:collapse_all), "#", :onclick => "collapseAll()", class: "collapse")

- show_project_progress = Setting.plugin_projects_tree_view[:show_project_progress]
%table.list
  %thead
    %tr
      %th{ style: "width: 25%" } #{ l(:label_project) }
      %th{ style: "width: 15%" } #{ l(:label_roadmap) }
      %th{ style: "width: 15%" } #{ l(:label_issue)   }
      %th{ style: "width: 10%" } #{ l(:label_done_late)  }
      %th{ style: "width: 10%" } #{ l(:field_created_on) }
  %tbody
    - ancestors = [ ]
    - plevel = 0
    - project_tree(@entries) do |project, level|
      - style    = 0 < level ? "hide #{ ancestors.last }" : cycle("odd", "even")
      - statices = progress_statices(project)
      %tr{ id: "#{ project.id }", class: "#{ project.css_classes } #{ style }" }
        %td.name{ style: "padding-left: #{ 18 * level }px" }
          - unless project.children.empty?
            %span.expander{ style: "padding-left: 20px", onclick: "toggleShowHide('#{ project.id }')" }
          = project.active? ? link_to_project(project) : h(project.name)
          %span{ class: "empty #{ "my-project" if User.current.member_of?(project) }" }
        %td
          - unless project.versions.blank?
            = link_to(project_roadmap_url(project.id)) do
              = "#{ project.versions.length } #{ l(:label_version) }" unless project.versions.blank?
        %td
          = link_to(l(:label_x_issues, count: statices[:total]), issues_url(project_id: project, set_filter: 1, status_id: "*"))
          (
          = link_to_if(0 < statices[:open], l(:label_x_open_issues_abbr, count: statices[:open]), issues_url(project_id: project, set_filter: 1, status_id: "open"))
          &#8212;
          = link_to_if(0 < statices[:closed], l(:label_x_closed_issues_abbr, count: statices[:closed]), issues_url(project_id: project, set_filter: 1, status_id: "closed"))
          )
        %td 
          = progress_bar(statices[:rate], legend: "#{ '%i%%' % statices[:rate] }")
        %td{ align: "center" } 
          = "#{ format_date(project.created_on) }"
      - ancestors << project.id unless project.children.empty?
      - plevel = level
%p
  = link_to(l(:expand_all), "#", :onclick => "expandAll()", class: "expand")
  %span #{ " | " }
  = link_to(l(:collapse_all), "#", :onclick => "collapseAll()", class: "collapse")

- if User.current.logged?
  %p{ style: "text-align:right;" }
    %span.icon.icon-user.my-project #{ l(:label_my_projects) }

- other_formats_links do |f|
  = f.link_to('Atom', url: { key: User.current.rss_key })

- html_title(l(:label_project_plural))